# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# When you are using the docker-compose.yml provided, you can use the commection string example below:
# DATABASE_URL="postgresql://developerdeck101:developerdeck101@127.0.0.1:5432/test"
#Prisma
DATABASE_URL="postgresql://postgres:145236@localhost:5432/test"

#Authjs
AUTH_SECRET=
AUTH_LOGIN_REDIRECT="/dashboard"

#Use em AUTH_TRUST_HOST em ambiente de desenvolvimento
#quando estiver usar modo produção para testar a
#verificação de e-mail
AUTH_TRUST_HOST=true

# Login Providers

# GOOGLE
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
GOOGLE_EMAIL_USER="email@gmail.com"
GOOGLE_PASSWORD_APP="1235 6464 2541"
GOOGLE_EMAIL_FROM="email@gmail.com"

# GITHUB
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Public URL 
NEXT_PUBLIC_URL=http://localhost:3000

#Account Verification
VERIFICATION_URL=/auth/verify-email
VERIFICATION_SUBJECT=Verificação de E-mail
OTP_SUBJECT=Seu codigo de verificação
RESET_PASSWORD_URL=/auth/change-password
RESET_PASSWORD_SUBJECT=Mudança de senha